{% extends "dashboard/base/dashboard_form.html" %}

{% load staticfiles %}

{% block title %}
Great Suffolk Bike Ride 2016 : My Details
{% endblock %}

{% block dashboard-form %}
    <tbody>
        <tr>
            <td colspan="4">{{ form.non_field_errors }}</td>
        </tr>
        <tr>
            <td><label>Username :</label></td>
            <td colspan="3"><span style="width:{{22}}em;" class="readonly">{{ request.user.username}}</span></td>
        </tr>
        <tr><td colspan="2">{{ form.first_name.errors }} </td><td colspan="2">{{ form.last_name.errors }} </td></tr>
        <tr>
            <td>{{ form.first_name.label_tag }}</td><td>{{form.first_name}}</td>
            <td>{{ form.last_name.label_tag }}</td><td>{{form.last_name}}</td>
        </tr>

        <tr><td colspan="4">{{ form.email.errors }}</td></tr>
        <tr>
            <td>{{form.email.label_tag}}</td><td colspan="3">{{form.email}}</td>
        </tr>
    </tbody>
{% endblock %}

{% block post-form %}
{% endblock %}