{% extends "dashboard/base/dashboard.html" %}

{% load staticfiles %}

{% block title %}
Great Suffolk Bike Ride 2016 = Home Page
{% endblock %}

{% block dashboard-detail %}
    {% if confirmation %}
        <div class="popup" >
            <div class="popup-inner ">
                <h2>Password Changed</h2>
                <span align="center">Your password has changed</span>
                <form method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" value="True" name="confirmation">
                    <input type="submit" value="OK" name="OK">
                </form>
            </div>
        </div>
    {% else %}
        <div class="form">
            <div id='heading' align='center' class="white xlarge special_font">{{ heading }}</div>
            <div class="white description {{ description_class }}">{{ description }}</div>
            <form method="post" action="">
                <div align="center">
                    {% for btn in top_submit %}
                        <input type='submit' name='submit' value='{{btn}}'/>
                    {% endfor %}
                </div>
                {% csrf_token %}
                <table width="100%">
                    {% block dashboard-form %}
                    {{ form }}
                    {% endblock %}
                </table>
                <div align="center">
                    {% for btn in submit %}
                        <input type='submit' name='submit' value='{{btn}}'/>
                    {% endfor %}
                </div>
            </form>
            <div align="center" class="white small" >
                {% block post-form %}{{ post_form_info }}{% endblock %}
            </div>
        </div>
    {% endif %}
{% endblock %}
