{% extends "base/base.html" %}

{% load staticfiles %}
{% load helper_tags %}

{% block title %}
 Suffolk Cycle Ride - Fund {{ cyclist.get_full_name }}
{% endblock %}

{% block page_styles_links %}
    <link rel="stylesheet" href="{% static 'SuffolkCycleRide/css/fundme.css' %}">
{% endblock %}

{% block og-url %}
http://{{ HOST }}/FundMe/{{ cyclist.user.username }}
{% endblock %}

{% block og-title %}
Support {{ cyclist.get_full_name }} on The Great Suffolk Cycle Ride
{% endblock %}

{% block og-description %}
{{ cyclist.user.first_name }} is cycling {{ cyclist.total_distance }} km (<i>{{ cyclist.total_distance| kmToMiles }} miles</i>) over {{cyclist.total_days}} days in The Great Suffolk Cycle Ride; to fund-raise for Suffolk cancer charities.

{{ cyclist.user.first_name }} Says :
{{ cyclist.statement }}
{% endblock %}

{% block head_meta %}
<meta property="og:image" content="http://{{HOST}}/media/{{ cyclist.picture.name }}" />
{% endblock %}

{% block content %}
{% if mockup %}
    <div class="mockup">
        This is a mockup of your <a href="{{ mockup.local_url }}">FundMe page</a>.<br/>
        The full url is <b>{{ mockup.full_url }}</b>
    </div>
    <div class="ShareMe">
        <div class="Share">
        <a href="{{ mockup.urls.facebook}}"><img src="{% static 'SuffolkCycleRide/images/facebook.png' %}"></a>
        <div >Share your FundMe<br/>page onto Facebook.</div>
        </div>
        <div class="Share">
        <a href="{{ mockup.urls.twitter}}"><img src="{% static 'SuffolkCycleRide/images/twitter.png' %}"></a>
        <div >Tweet about your<br/>FundMe page</div>
        </div>
    </div>

{% endif %}
<div style="position:relative;clear:both;vertical-align:middle;">
    <div style="vertical-align:middle;float:left; width:70%:">
    <h2 style="vertical-align:middle;margin-bottom:1em;margin-top:0.5em;">The Great Suffolk Cycle Ride</h2>
        </div>
    <div class="logo"></div>
</div>
<div style="position:relative;clear:both;">
    <div style="float:left;width:20%">
        {% if cyclist.picture %}
        <div class="picture" {% resize_style cyclist.picture max_width="180" %}">
        <img src="/media/{{ cyclist.picture.name }}" {% resize_style cyclist.picture max_width="180" %}"/>
        </div>
        {% else %}
        <div class="picture" style='width:200px;height:200px'>
        <img src="{% static 'SuffolkCycleRide/images/default_avatar.png' %}" style='width:200px;height:200px'/>
        </div>
        {% endif %}
    </div>
    <div style="float:right; width:75%">
        <div id="intro-block">
        {{ cyclist.get_full_name }} is cycling {{ cyclist.total_distance }} km (<i>{{ cyclist.total_distance| kmToMiles }} miles</i>) over {{cyclist.total_days}} days,<br/>to fund-raise for Suffolk cancer charities.<br/>
        </div>
<!--        <div class="barchart-outer" > -->
            <div class="barchart-outer">
            <div class="barchart-inner-inset"></div>
            <div class="barchart-inner" style='width:{% limited_width_ratio cyclist.currentPledgedAmount cyclist.targetAmount 640 %}'></div>
            <div class="barchart-text">
        <span class="large bold">£{{cyclist.currentPledgedAmount | currency }} pledged</span> <span class="small">({{cyclist.percentage_funding}}%) of £{{ cyclist.targetAmount | currency }} target.</span>
            </div>
        </div>
        {% if cyclist.fundraising_site %}
            <div id="url-block">
                You can support {{ cyclist.user.first_name }} online at <a href="{{ cyclist.fundraising_site }}">{{ cyclist.fundraising_domain }}</a>
            </div>
        {% endif %}

        {% if cyclist.statement %}
        <div id="statement-block">
            <div>
            {{ cyclist.user.first_name }} Says :
                <div class="statement">
                    {{ cyclist.statement }}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}