{% extends "base/base.html" %}

{% load staticfiles %}
{% load helper_tags %}

{% block subtitle %}
 - Home Page
{% endblock %}

{% block page_styles_links %}
    <link rel="stylesheet" href="{% static 'SuffolkCycleRide/css/home.css' %}">
{% endblock %}

{% block content %}
<!-- Intro -->
    <div class="content-section">
        {% if funding %}
            <div class="barchart-outer">
                <div class="barchart-inner-inset"></div>
                <div class="barchart-inner" style='width:{% limited_width_ratio funding.pledges funding.target 880 %}'></div>
                <div class="barchart-text">
                    <span class="large bold"">£{{funding.pledges | currency }} pledged</span> <span class="small">({{funding.percentage}}%) of £{{ funding.target | currency }} target.</span>.
                </div>
            </div>
        {% endif %}
        <h2 style="font-size:300%;margin-top:0px;">Help Fight Cancer with the</h2>
        <h1 style="font-size:600%;margin-top:0px;">Great Suffolk</h1>
        <h1 style="font-size:600%;margin-top:0px;">Cycle Ride</h1>
        <h1 style="font-size:600%;margin-top:0px;">2016</h1>
        <div style="position:absolute; top:150px; left:600px">
            <img width="329" height="229" src="{% static 'SuffolkCycleRide/images/suffolk09s.gif' %}">
        </div>
        <div class='white medium'>
            Come and get involved in the Great Suffolk Cycle ride 2016, raising money for the fight against Cancer. Join us on
            part or all of the bike ride around Suffolk, or get involved in helping organise or supporting the event. We need
            everything from cooks to bike mechanics.
        </div>
    </div>

    <div class="content-section">
        <div class="BtnStrip">
            <div class="BtnBar"></div>

            <div class="Btns">
                <div class='BigBtnOuter' style="float:left;">
                    <a class='BigBtn' href="{% url 'GetInvolved' %}">
                        <span class='BigBtnTxt'>Get Involved</span>
                    </a>
                </div>
                <div class='BigBtnOuter' style="float:right;">
                    <a class='BigBtn' href="{% url 'Sponsorship:Main' %}">
                        <span class='BigBtnTxt'>Sponsor Us</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Read More -->

    <div class="content-section" style="margin-top:100px; padding-bottom:70px;">
        <img style="position:absolute; top:-70px" src="{% static 'SuffolkCycleRide/images/hands.png' %}"/>
        <div class="strip whitebackground"></div>

        <h1 class="red" align="center">About</h1>
        <div style="display:inline-block; position:relative;">
            <div style="float:left;position:relative; width=20%;">
                <img width=200 height=140 src="{% static 'SunriseFundraising/FullColour-741x692.png' %}"/>
            </div>
            <div class="blue" style="position:relative; width:70%;float:right; display:inline-block;">
                Planned for Summer 2016, the Great Suffolk Cycle Ride is a multi stage charity cycling event organised by Sunrise Funding (a charity specifically founded to raise money for hospitals, clinics and other organisation treating or supporting those with Cancer.
                The Great Suffolk Cycle Ride will either pass through or near every major population center in Suffolk, from Lowestoft to Ipswich, Felixstowe to Sudbury and many more.
            </div>
        </div>

        <div style="align:left;margin:10px;position:relative;">
            <a>
                <span class="blue large special_font">Read More
                    <img style="vertical-align:bottom;" src="{% static 'SuffolkCycleRide/images/arrow.png' %}"/>
                </span>
            </a>
        </div>
        <div id="SponsorBar" style='position:relative;'>
            <div style="float:left;position:relative;">
                <span style="vertical-align:middle;" class="blue xxlarge special_font">Sponsors:</span>
                <span style="margin-left:50px; vertical-align:middle;" class="small">Your Company Logo Here ?</span>
            </div>
            <div class='ShapeBtnOuter' style='float:right;margin-right:10px;'>
                <span class='ShapeBtnTxt'>
                    <a class='ShapedButton' href="{% url 'Sponsorship:Main' %}" style="text-align:center;">
                        Sponsor&nbsp;Us
                    </a>
                </span>
            </div>
           </div>
    </div>

    <div class="content-section" style="padding-bottom:20px">
        <img style="position:absolute; top:-50px" src="{% static 'SuffolkCycleRide/images/binding.png' %}"/>
        <div class="strip redbackground"></div>

        <h1 style="position:relative;display:inline;font-size:400%;top:10px;" class="lightblue">Blog</h1>
        <img style="position:absolute; left:150px;" src="{% static 'SuffolkCycleRide/images/clock.png' %}"/>
        <div align="left" class="white" style="position:relative;margin-top:2em;">
            As we make our plans for the Great Suffolk Cycle Ride 2016 - We will keep our blog up to date. Take a read,
            you might discover some way that you can be involved and inspired.
        </div>
        <div style="position:relative;margin:auto;width:30%;margin:auto;padding:10px 0;">
            <div class='ShapeBtnOuter' style='align;center;'>
                <span class='ShapeBtnTxt'>
                    <a class='ShapedButton' style="text-align:center;">
                    Our&nbsp;Blog
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="content-section" style="margin-bottom:75px" >
        <img  style="display:inline" src="{% static 'SuffolkCycleRide/images/stamp.png' %}"/>
        <h1 style="font-size:400%;position:absolute; top:20px; display:inline">Thank&nbsp;<span class="red">You</span></h1>
        <div align="center" style="display:inline-block;">
            <span class="xlarge special_font"><span class="normal">Follow us on</span>
                <a class="black"
                   href="https://www.facebook.com/groups/GreatSuffolkCycleRide">Facebook</a>&nbsp;|&nbsp;<a
                        class="black" href="https://twitter.com/SuffolkCycle16">Twitter</a>
            </span>
        </div>
    </div>
{% endblock %}