{% extends "base/base.html" %}

{% load staticfiles %}

{% block subtitle %}
 - Privacy Policy
{% endblock %}

{% block content %}
<h1 align="center" class="normal">Privacy Policy</h1>
<h2 class="normal">Your information</h2>
<p>The usage and security of your information is important to us. We will work to ensure that your information is only
    used for the purpose of organising The Great Suffolk Cycle Ride. Specifically we will ensure :</p>
<ul>
    <li>We will not share your information to any 3rd Party without your express permission.</li>
    <li>We will ensure that your information will only be visible to appropriately authorised people : i.e.</li>
    <ul>
        <li>Yourself</li>
        <li>Users designated as staff for the event</li>
    </ul>
</ul>
<h2 class="normal">As a Sponsor</h2>
<p>If you agree to sponsor one or more aspects of our event then, if we have your permission, we will :
<ul>
    <li>Publish your name/company name and any provided logo on relevant pages on the website.</li>
    <li>Provide a link to your website from your name/company name/logo at the appropriate places on the website.</li>
    <li>Publish your name/company name/log and any website url on other items produced for the event.</li>
</ul>
We will not make public any contact details you provide to us (with the exception of the website url as above).
</p>
<h2>Your Password</h2>
<p>
The password you enter when you register as a cyclist or a volunteer is stored in an encrypted form in the database, using
a process which is not reversible. This means that no-one is able to view your 'clear-text' password (i.e. the password you type when you login), not even those with full access to the database (i.e. the administrators).</p>
{% endblock %}