{% extends "SuffolkCycleRide/base/base.html" %}

{% load staticfiles %}

{% block title %}
Great Suffolk Bike Ride 2016 = Home Page
{% endblock %}

{% block content %}
<h2>Read More</h2>
<div class="white">
The Great Suffolk Cycle Ride 2016 is in the very early stages of planning. We don't have definitive dates or a route for the event, but we do have the will and determination to make it happen.

Keep in touch with us and these pages to discover how we are progressing with the planning and how you can get involved.
</div>
{% endblock %}