{% extends "base/base.html" %}

{% load staticfiles %}
{% load helper_tags %}

{% block subtitle %}
 - The Event
{% endblock %}

{% block page_styles %}
{% endblock %}

{% block content %}

<h2 class="centered">The Event - The Great Suffolk Cycle Ride</h2>
{% if event.legs %}
<div class="summary">
<p>
    The event is a {{ event.stats.days }} day cycle event starting in {{event.first_leg.start}} on {{event.first_leg.date |date}} and finishing {{ event.stats.distance }} km ({{event.stats.distance | kmToMiles }} miles) later at {{event.last_leg.end}} on {{event.last_leg.date|date}}<br/>

    The event is split into {{event.legs.count}} legs as follows :</p>
</div>
<div class='white' align='center' style="width:80%">
    <table>
        <thead>
            <tr>
                <th>Date</th><th>&nbsp;</th><th>Name</th><th>Start</th><th>End</th><th>km</th>
            </tr>
        </thead>
        <tbody>
        {% for leg in event.legs %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>{% iffchanged leg.date leg.date|date '&nbsp;' %}</td>
                <td>{% iff leg.morning 'am' 'pm' %}</td>
                <td>{{leg.name}}</td>
                <td>{{leg.start}}</td><td>{{leg.end}}</td><td>{{leg.distanceKM}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div>
    The event is conceived as a multi day cycle ride. We are still planning the detail of the route, which we hope will go through most of the major population centers in Suffolk. It is intended that cyclists will be able to join the event for multiple days, single days or just half a day. Daily distances will range between 80 and 100 km (50 & 60 miles).
</div>
{% endif %}
{% endblock %}