{% extends "base/base.html" %}

{% load staticfiles %}
{% load helper_tags %}
{% load map_tags %}

{% block subtitle %}
 - The Event
{% endblock %}

{% block page_script_links %}
        <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyA0JeZ9eOujzkEPKG4W6rWdU5P0NXOUmZ0"></script>
        <script src="{% static 'ol2map/js/OpenLayers.2.14.js' %}"></script>
        <script src="{% static 'ol2map/js/ol2map_base.js' %}"></script>
{% endblock %}

{% block page_styles_links %}
       <link rel="stylesheet" href="{% static 'ol2map/css/homestyle.css' %}" type="text/css">
       <link rel="stylesheet" href="{% static 'SuffolkCycleRide/css/map-hide-show.css' %}" type="text/css">

<!--        <link rel="stylesheet" href="{% static 'ol2map/css/style.css' %}" type="text/css"> -->
{% endblock %}

{% block page_styles %}
    /*
        Primary Style for the Main Title Row
        Dark with bold white text - extra high
        with Rounded top corners only
    */
    div.TitleRow {
        background : #005551;
        color: white ;
        font-size: 100%;
        font-weight: bold ;
        line-height: 180%;
        text-align: left ;
        vertical-align: middle ;
        height: 2em;
        border-radius : 10px 10px 0px 0px;
    }

    /*
        Main information row style
        A lot of the InfoRow styling happens in the :checked events - see below
    */
    div.InfoRow {
        text-align: left ;
        padding-bottom: 5px ;
        width: auto ;
        overflow: hidden ;
        height: auto ;
        }

    /*  Rounded corners on the last Info Row - a nice rounded table */
    div.InfoRow:last-of-type {
        border-radius : 0px 0px 10px 10px;
        }

@media only screen and (min-width: 900px) {

    /* The Columns - define their widths */
    .Date { margin-left:10px; width:7em; display:inline-block;}
    .Am  { width: 2.0em; display:inline-block; margin-right: 30px;}
    .start { width:15em; display:inline-block;}
    .end { width:15em; display:inline-block;}
    .km { width:4em; display:inline-block;}
    .extra {width:3em; display:inline-block;}

    .short {display:none;}

    div.InfoRow .cell { margin-top:10px; }
}

@media only screen and (max-width: 900px) {

     /* The Columns - define their widths */
    .Date { margin-left:5px; width:5em; display:inline-block;}
    .Am { width: 0.5em; display:inline-block; margin-right: 5px;}
    .start { width:6.0em; display:inline-block;}
    .end { width:6.0em; display:inline-block;}
    .km { width:1.5em; display:inline-block;}
    .extra {width:2em; display:inline-block;}

    div.TitleRow .cell,
    div.InfoRow .cell,
    label.MoreLess { font-size:80% ; margin-top:10px; }

    label.MoreLess { top:-25px !important;}

    .InfoRow div.cell:not(.short) {display:none;}

    div.MoreLess div.Description {width:90% !important ; font-size:80%; display:block; margin: 5px !important;}

    div.MoreLess div.Smallmap { width: 260px !important ;
                                height : 260px !important ;
                                margin: 0px 5px 10px 5px !important;
                                border: thin solid black ;
                                border-radius: 0px !important ; }
}

{% endblock %}

{% block content %}

<h2 style='margin-top:0.5em;' class="centered">The Event</h2><h2 class="centered" style="margin:0 1.0em;">The Great Suffolk Cycle Ride</h2>
{% if event.legs %}
<div class="summary">
<p id="summary">
    The event is a {{ event.stats.days }} day cycle event starting in {{event.first_leg.start}} on {{event.first_leg.date |date}} and finishing {{ event.stats.distance }} km ({{event.stats.distance | kmToMiles }} miles) later at {{event.last_leg.end}} on {{event.last_leg.date|date}}. The event is split into {{event.legs.count}} stages. It is planned that lunch will be provided after the Morning stages, and an optional meal will be provided after each afternoon stage. Meal details are being organised, and will be announced shortly.</p>
</div>
    <div class='white' align='center' style="width:100%">
        <div class="TitleRow" > <!-- Title row -->
            <div class="cell Date">Date</div><div class="cell Am">&nbsp;</div>
            <!-- <div class="name">Name</div> -->
            <div class="cell start">Start</div>
            <div class="cell end">End</div><div class="km">km</div>
            <div class="cell extra">&nbsp;</div>
        </div>
        {% for leg in event.legs %}

        <div class="InfoRow {% cycle 'row1' 'row2' as rowClass %}">
            <div>
                <div class="cell Date">{% iffchanged leg.date leg.date|date '&nbsp;' %}</div>
                <div class="cell Short Date">{% iffchanged leg.date leg.date|date:'D j M' '&nbsp;' %}</div>

                <div class="cell Am">{% iff leg.morning 'am' 'pm' %}</div>
                <div class="cell Short Am">{% iff leg.morning 'a' 'p' %}</div>
               <!-- <div class="name">{{leg.name}}</div> -->

                <div class="cell start">{{leg.start}}</div>
                <div class="cell short start">{%ellipsis leg.start length=10 %}</div>

                <div class="cell end">{{leg.end}}</div>
                <div class="cell short end">{%ellipsis leg.end length=10%}</div>

                <div class="cell km">{{leg.distanceKM}}</div>
                <div class="cell short km">{{leg.distanceKM}}</div>
            </div>
            {% if leg.map %}
                <div style="height:auto;">
                    <input id='olMap_{{leg.slug}}_Show' type="checkbox" class="MoreLess">
                        <label for='olMap_{{leg.slug}}_Show' class="MoreLess">&nbsp;</label>
                        <div class="MoreLess">
                            <div class="Description">
                                {{leg.description}}
                            </div>
                        {% MapForLeg leg %}
                        </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
<div></div>
{% else %}
<div>
    <p id="summary">
    The event is conceived as a multi day cycle ride. We are still planning the detail of the route, which we hope will go through most of the major population centers in Suffolk. It is intended that cyclists will be able to join the event for multiple days, single days or just half a day. Daily distances will range between 80 and 100 km (50 & 60 miles).
    </p>
</div>
{% endif %}
{% endblock %}