{% load blog_filters %}
{% load blog_tags %}

<div class="sidebar-module" id="archive-list">
    <h5 class="sidebar-title">Post Archive</h5>
    <div>
        {% regroup archive.list by pub_date.year as year_list %}
    {% for year in year_list %}
        <div class="archive-year" id="{{ year.grouper }}_title">
            <span class="archive-year {% year_visible %}">
                <a href="{% year_url %}">{{ year.grouper }}</a></span>
            <div class="archive-year-content {% year_visible %}">
                {% regroup year.list by pub_date.month as month_list %}
            {% for month in month_list %}
                <div class="archive-month">
                    <span class="archive-month {% month_visible %}">
                        <a href="{% month_url %}">{{ month.grouper|get_month_name }}</a></span>
                    <div class="archive-month-content {% month_visible %}">
                        {% for entry in month.list %}
                            <div class="archive-entry">
                                <span class="blog-archive-entry small">
                                    <a href="{{ entry.get_absolute_url }}">
                                            {% ellipsis entry.title length=30 center=True %}</a>
                                    {% if not entry.is_published %}
                                     <span class="label label-default">Draft</span>
                                    {% endif %}
                                </span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div> <!-- End of list container -->
</div> <!-- End of Module -->