<div class="sidebar-module" id="archive-list">
    <h5 class="sidebar-title">Post Archive</h5>
    <div>
    {% for year in archive %}
        <div class="archive-year" id="{{ year.name }}_title">
            <span class="archive-year {% if year.visible %}archive-visible{% endif %}"><a href="{{ year.url }}">{{ year.name }}</a></span>
            <div class="archive-year-content {% if year.visible %}archive-visible{% endif %}">
                {% for month in year.content %}
                    <div class="archive-month">
                        <span class="archive-month {% if month.visible %}archive-visible{% endif %}"><a href="{{ month.url }}">{{ month.name }}</a></span>
                        <div class="archive-month-content {% if month.visible %}archive-visible{% endif %}">
                            {% for entry in month.content %}
                                <div class="archive-entry">
                                    <span class="blog-archive-entry small">
                                        <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
                                        {% if not entry.is_published %}
                                         <span class="label label-default">Draft</span>
                                        {% endif %}
                                    </span>
<!--                                    <p class="blog-archive-entry-meta">{{ entry.pub_date|date:"DATE_FORMAT" }}
                                    {% if entry.author %} by {{ entry.author }}{% endif %}
                                    </p> -->
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div> <!-- End of list container -->
</div> <!-- End of Module -->