{% extends "base/base.html" %}

{% load staticfiles %}

{% block title %}
{%block blog-title %}Suffolk Cycle Ride 2016{% endblock %}-{% block blog-sub-title %}{% endblock %}
{% endblock %}

{% block page_styles_links %}
        <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block content %}

    {% block blog_page_title %}
    {% endblock %}

    <div class="blog-main-area">

        <div class="blog-posts-area">
            {% block blog-content %}
            {% endblock %}
        </div>

        <div class="blog-sidebar">
            {% block blog-sidebar %}
            {% endblock %}
        </div>
    </div>
{% endblock %}