{% extends "blog/base.html" %}

{% block description %}
{{ entry.title }}
{% endblock %}


    {% block blog-sub-title %}{{ entry.title }}{% endblock %}

    {% block blog_page_title %}
    {% endblock %}

        {% block blog-content %}
            {% include "blog/single_post.html" %}
        {% endblock %}

    {%block blog-sidebar %}
            {% include "blog/tag_sub_list.html" %}
            {% include "blog/archive_sub_list.html" %}
    {% endblock %}
<!--
{% include "andablog/pagination_snippet.html" with page_obj=page_obj %}
-->