{% extends "blog/base.html" %}

{% load markitup_tags %}
{% load blog_filters %}
{% load blog_tags %}

{% block description %}
Latest blog entries
{% endblock %}

{% block blog-sub-title %}Latest blog entries{% endblock %}

    {% block blog_page_title %}
    {% endblock %}

    {% block blog-content %}
        {% if args.tag_slug %}
            <div class="sub-header">
                <span style="margin-right:1em;">Displaying all posts labelled <strong>{{ args.tag_slug | get_tag_name }}</strong>.</span><a href="{% url 'Blog:Home' %}">Show all posts</a>.
            </div>
        {% endif %}
        {% if args.year %}
            <div class="sub-header">
                <span style="margin-right:1em;">Displaying all posts dated from {{ args.month|get_month_name }} {{ args.year }}.</span><a href="{% url 'Blog:Home' %}">Show all posts</a>.
            </div>
        {% endif %}
        {% for entry in entries %}
            {% include "blog/single_post.html" %}
        {% endfor %}
    {% endblock %}

    {%block blog-sidebar %}
            {% include "blog/tag_sub_list.html" %}
            {% include "blog/archive_sub_list.html" %}
    {% endblock %}