/**
 * CSS Reset
 * From Blueprint reset.css
 * http://blueprintcss.googlecode.com
 */
div.olMap * {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-family:inherit;vertical-align:baseline;}
div.olMap table {border-collapse:separate;border-spacing:0;}
div.olMap caption, div.olMap th, div.olMap td {text-align:left;font-weight:normal;}
div.olMap table, div.olMap td, div.olMap th {vertical-align:middle;}
div.olMapb lockquote:before, div.olMap blockquote:after, div.olMap q:before, div.olMap q:after {content:"";}
div.olMap blockquote, div.olMap q {quotes:"" "";}
div.olMap a img {border:none;}

div.olMap * {
    font-family: "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
/*    color: #222;
    background: #fff; */
}

div.olMap div,
div.olMap img,
div.olMap svg {
    margin : initial ;
}

div.olMap pre, div.olMap code {
    margin: 1.5em 0;
    white-space: pre;
}
div.olMap pre, div.olMap code {
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height:1.5;
}
div.olMap a[href] {
    color: #436976;
    background-color: transparent;
}
div.olMap h1,
div.olMap h2,
div.olMap h3,
div.olMap h4,
div.olMap h5,
div.olMap h6 {
    color: #003a6b;
    background-color: transparent;
    font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 0.5em;
}
div.olMap h1 {
    font-size: 130%;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #fcb100;
}
div.olMap h2 {
    font-size: 120%;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #aaa;
}
div.olMap h3 {
    font-size: 110%;
    margin-bottom: 0.5em;
    text-decoration: underline;
}
div.olMap h4 {
    font-size: 100%;
    font-weight: bold;
}
div.olMap h5 {
    font-size: 100%;
    font-weight: bold;
}
div.olMap h6 {
    font-size: 80%;
    font-weight: bold;
}

.olFramedCloudPopupContent {
    color : #222;
}



.olControlAttribution {
    bottom: 5px;
}

/**
 * Map Examples Specific
 */

}
div.olMap #tags {
    display: none;
}

div.olMap #docs p {
    margin-bottom: 0.5em;
}

/* mobile specific */
@media only screen and (max-width: 600px) {
div.olMap    #map {
        background : #7391ad;
        width      : 100%;
    }
div.olMap    #map {
        border : 0;
        height : 250px;
    }
div.olMap    #title {
        font-size   : 1.3em;
        line-height : 2em;
        text-indent : 1em;
        margin      : 0;
        padding     : 0;
    }
div.olMap    #docs {
        bottom     : 0;
        padding    : 1em;
    }
div.olMap    #shortdesc {
        color      : #aaa;
        font-size  : 0.8em;
        padding    : 1em;
        text-align : right;
    }
div.olMap    #tags {
        display : none;
    }
}

@media only screen and (orientation: landscape) and (max-width: 600px) {
div.olMap    #shortdesc {
       float: right;
       width: 25%;
    }
div.olMap    #map {
        width: 70%;
    }
div.olMap    #docs {
        font-size: 12px;
    }
}