.clearfix:after { content: "\00A0"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix { display: inline-block;}
html[xmlns] .clearfix { display: block;}
* html .clearfix{ height: 1%;}
.clearfix {display: block}

/* ------------------- Layout -------------------------- */

body {
    background-color: #00B7B1;
    font-family: "Open Sans",sans-serif;
    font-size: 12pt;
    color: white;
}

.special_font {
    font-family: "fredericka the great",fantasy;
}

a {
    text-decoration: none;
    color:inherit;
    font-style:italic;
    font-weight: bold;
    }

a:hover {
    cursor:pointer;
}



#Site_Background
{
	position: absolute;
	top: 0px;
	width: 1400px;
	display: inline-block;
	float: left;
	height: auto ;
}

.Site_Root  /* Centered Box */
{
    display: inline-block;
    float:left;
	position: absolute;
	margin: 0px auto;
	width: 1000px;
	padding-bottom:4em;
	height: auto ;
	min-height:100%;
	margin-left:200px;
	margin-right:200px;
}



#header_bg { /* Extra wide box for the header strip */
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: #005551;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
	border-top: 0px solid #9AE7E4;
	border-bottom: 0px solid #9AE7E4;
	width: 1400px;
	left: -200px;
}

#footer_bg { /* Extra wide box for the header strip */
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: #005551;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
	border-top: 0px solid #9AE7E4;
	border-bottom: 0px solid #9AE7E4;
	width: 2000px;
	left: -220px;
}

#header /* Box for the header menu */
{
	top: 0px;
	width: 980px;
	height: 66px;
	position: absolute;
	left: 0px;
}


#footer /* Box for the footer info menu */
{
	bottom: 0px;
	width: 980px;
	height: 3em;
	position: fixed;
	margin-top:50px;
	padding-bottom: 0.5em;
	clear: both ;
}


h1.centered,
h2.centered,
h3.centered,
h4.centered {
    text-align: center ;
}


div.centered
{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

span.centered {
	width: 100%;
	text-align: center;
	display: block;
}

div#content
{
 top: 70px;
position:absolute;
width:100%;
height: auto;
padding:0;
margin: 0;
}

div#content > :last-child {
    margin-bottom: 4em;
}

div.popup {
	margin: 20px 20%;
	width: auto;
	background-color: #005551;
	padding: 7px;
	border-radius: 10px;
	display: inline-block;
}

div.popup-inner {
	background-color: #008781;
	padding: 10px;
	margin: auto;
	z-index: 99;
	border: thin solid white;
	border-radius: 10px;
	display: inline-block;
}


div.content-section {
    position: relative;
    margin-top:0px;
}

div.strip {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	width: 1397px;
	left: -220px;
	height:100%
}

#SponsorBar {
    width:100%;
    height:100%;
    margin: 20px 0px;
    padding:5px 5px;
    border-bottom: 2px dashed rgb(0, 183, 177);
    border-top: 2px dashed rgb(0, 183, 177);
    overflow:auto;
}

#SponsorBar img {
width:auto;
height:50px;
vertical-align:middle;
margin-left:10px;
}

/* ------------------- Menu bar -------------------------------- */
div.menu-wrapper {
	position: relative;
	padding: 0px 10px;
}

div.menu-body {
	position: relative;
	top: 5px;
	color: white;
	font: 20px/1.4em "fredericka the great",fantasy;
	margin: 0px auto;
	max-width: 800px;
}
div#menu-container {
	z-index: 1;
}

div#menu-container a {
	display:block;
	padding:0 5px;
	color:#FFF;
	  text-decoration: none;
  font-style:normal;
    font-weight: unset;
}

@media only screen and (min-width: 900px) {

    div#footer-table {
        width:80%
    }

    div#ShareBar {
        margin-bottom:4px;
        height:25px;
    }

    div#ShareBar > div.ShareMe {
        display:inline-block;
        margin-right:5px;
        height:25px;
        width:25px;
    }

    div#ShareBar > div.ShareMe img {
        height:25px;
        width:25px;
    }

    ul.chevronbar {list-style-type: none; margin: 0; padding: 0; height:auto; width:auto; overflow:hidden;}
    ul.chevronbar li {margin: 0; padding: 0.5em; height:1.3em; width:auto; border:1px solid #01B1AF; position:relative; float:left; background:#01B1AF;  margin-right: 1.1em; padding: 0 0.5em; }
    ul.chevronbar li a {display:block;}
    ul.chevronbar li:before, ul.chevronbar li:after {content: ' '; height: 0; width: 0; position: absolute; top:-10px; border: 24px solid transparent; border-left-width: 12px; border-right-width: 12px;}
    ul.chevronbar>li:before {border-top-color: #01B1AF; border-bottom-color: #01B1AF; border-right-color: #01B1AF; right: 100%;}
    ul.chevronbar>li:after {border-left-color: #01B1AF; left: 100%; margin-left: -0.02em; overflow:hidden;}
    ul.chevronbar>li:first-child {padding-left:1.0em; border-radius:10px 0 0 10px;}
    ul.chevronbar>li:last-child {padding-right:0.1em; border-radius:0 10px 10px 0;}
    ul.chevronbar>li:first-child:before {border:none;}
    /* ul.chevronbar li.first:before {border: none !important ;} */
    ul.chevronbar>li:last-child:after {border: none !important;}


    ul.chevronbar li a{
      cursor: pointer ;
      color : white;
      text-decoration: none;
      font-style:normal;
        font-weight: unset;
    }

    ul.chevronbar li a:hover {
    }

    div#menu-container {
        z-index: 1;
        margin-left: auto;
        margin-right: auto;
        max-width: 900px;
        position: relative;
    }

    div#menu-container a {
        display:block;
        padding:0 5px;
        color:#FFF;
    }

    /* Hide Dropdowns by Default */
    div#menu-container ul ul.sub {
        display: block;
        position: fixed;
        top: 57px; /* the height of the main nav */
        max-height:0%;
        visibility: hidden;
    }

    /* Display Dropdowns on Hover */
    div#menu-container ul li:hover > ul.sub {
        display: block;
        position: fixed;
        height: auto;
        max-height: 100%;
        visibility: visible;
        /* opacity: 1.0; */
    }

    div#menu-container li:hover a {
        text_decoration:none;
    }

    ul.chevronbar ul li {margin:0px;}


    /* Fisrt Tier Dropdown */
    div#menu-container ul ul.sub li {
        width:auto;
        float:none;
        display:list-item;
        position: relative;
    }

    /* Second, Third and more Tiers	*/
    div#menu-container ul ul.sub ul.sub li {
        position: relative;
        top:-60px;
        left:170px;
    }

    ul.sub {
        background-color: #01B1AF;
        border-radius: 0 5px 5px 0;
        box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.6);
        border-width: 0px 1px 1px 1px;
        border-color: rgb(0,85,81) grey grey grey;
        border-style: solid;
        border-radius : 15px 15px 15px 15px ;
        width:auto;
        z-index:1;
        list-style: none ;
    /*    transition: max-height 4s linear; */
        padding: 10px 0px 5px 0px;
    }

    ul.sub>li:last-child { padding-bottom:5px; }

    li > a:after {
        content:  '\A';
        position:relative;
        margin-left:5px;
        margin-bottom:1px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 7px 4px 0;
        border-color: transparent #ffffff transparent transparent;
        display:inline-block;
    }

    li:hover > a:after {
        content :"\A";
        position:relative;
        margin-left:5px;
        margin-bottom:1px;
        margin-right:-2px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 3px 0 6px;
        border-color: #ffffff transparent transparent transparent;
        display:inline-block;
    }

    li > a:only-child:after { content: ''; border:None; margin-right:-2px;}
    li:hover > a:only-child:after { content: ''; border:None; margin-right:-2px; }
}


/* ------------------------- Font sizes and headings ----------------------- */
span.special_font a {
  cursor: pointer ;
  font-style: italic ;
  text-decoration: none;
}

div#content p a:hover,
div#content span:not(.ShapeBtnTxt) a:hover {
    border-top: thin dashed white ;
    border-bottom: thin dashed white ;
}

.strong {
    font-weight: bold ;
}

.xxlarge {
    font-size: xx-large;
}

.xlarge {
    font-size: x-large;
}

.large {
    font-size: large;
}

.medium {
    font-size: medium;
}

div.normal, p.normal, span.norma {
    font-size: 1em;
}

.reduced {
    font-size: 80%;
}
.small
{
    font-size: small ;
}

.vsmall
{
    font-size: x-small;
}


h1:not(.normal) {
    margin: -0.25em 0 0 0;
    padding: 0;
    color: white ;
    font: 300% "fredericka the great",fantasy;
    line-height:normal;
    margin-top:0.2em;
}


h2:not(.normal) {
    margin: -0.25em 0 0 0;
    padding: 0;
    color: white ;
    font: 250% "fredericka the great",fantasy;
    line-height:normal;
}

h3:not(.normal) {
    margin: 0px;
    padding: 0px;
    color: white ;
    font: 150% "fredericka the great",fantasy;
}

h4:not(.normal) {
    margin: 5px 0px 10px 0px;
    padding: 0px;
    color: white ;
    font: 150% "fredericka the great",fantasy;
    font-style: italic;
}

.bold {
    font-weight:bold;
}

.italic {
    font-style:italic;
}


.errorlist {
    color: orange ;
    font-weight: bold ;
}

hr {
margin-left:auto;
margin-right:auto;
margin-top: 0.75em;
margin-bottom:0.75em;
width:75%}


ul.vertical {
display:inline-block;
}

div#heading {
    margin-top: 0.25em;
    margin-bottom: 0.25em ;
}

div.fb-like-pos {
    top:-25px;
    vertical-align: middle;
    position:absolute;
}

ul.vertical_menu {
list-style-type:none;
}

div.appendix {
    text-align: center;
}

div.confirm {
    background-color: yellow ;
    color: black ;
    text-align: center;
}

table, th, td {
/*    border:1px solid grey; */
}

/*
div#menu-container a:active {
    color: black;
}

div#menu-container a:link {
    color: green;
}
div#menu-container a:visited {
    color: yellow;
} */

div#menu-container a:focus {
    outline: none;
}