{% extends "dashboard/base/dashboard.html" %}

{% load staticfiles %}

{% block title %}
Great Suffolk Bike Ride 2016 = Home Page
{% endblock %}

{% block dashboard-detail %}
    <div id='heading' align='center' class="white medium special_font">{{ heading }}</div>
    <div class="white small {{ description_class }}">{{ description }}</div>
        <form method="post" action="">
            {% csrf_token %}
            <div class='table'>
                {% block dashboard-form %}
                {{ form }}
                {% endblock %}
            </div>
            <div align="center">
            {% for btn in submit %}
                <input type='submit' name='submit' value='{{btn}}'/>
            {% endfor %}
            </div>
        </form>
        <div align="center" class="white small" >
            {% block post-form %}{{ post_form_info }}{% endblock %}
        </div>
{% endblock %}
