{% extends "base/base.html" %}

{% load staticfiles %}

{% block title %}
Great Suffolk Bike Ride 2016 = Home Page
{% endblock %}

{% block page_styles_links %}
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock %}

{% block content %}
<h4 align="center">My Dashboard</h4>
<div id="Dashboard" class="white">
    <div id="DashboardMenu">
        <ul class="vertical_menu">
            <li><a href='{% url "Dashboard:Home" %}'>Home</a></li>
            <li><a href='{% url "Dashboard:MyDetails" %}'>My Details</a></li>
            <li><a href='{% url "Dashboard:CycleRoutes" %}'>Cycle Routes</a></li>
            <li><a href='{% url "Dashboard:FundRaising" %}'>Fund Raising</a></li>
            <li><a href='{% url "Dashboard:FundMe" %}'>Your FundMe Page</a></li>
        </ul>
    </div>
    <div id="DashboardDetails">{% block dashboard-detail %}Your data - based on the selection{% endblock %}</div>
</div>
{% endblock %}