{% extends "base/base.html" %}

{% load staticfiles %}

{% block title %}
Great Suffolk Bike Ride 2016 - Newsletter Unsubscribe
{% endblock %}

{% block content %}
<h4>Newsletter Un-subscribe</h4>
<div class="white">
The address {{ email }} has been un-subscribed from the Newsletter, and a confirmation email has been sent.<br/>
    We are sorry to loose touch with you, and you are welcome to resubscribe at any time.<br/>
    Thank you for your previous interest in the Great Suffolk Cycle Ride.
</div>
{% endblock %}