{% load staticfiles %}

<html>
<head>
    <title>{% block title %}The Great Suffolk Cycle Ride 2016{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'SuffolkCycleRide/style/base/colours.css' %}">
    <link rel="stylesheet" href="{% static 'SuffolkCycleRide/style/base/main-style.css' %}">
    <link rel="stylesheet" href="{% static 'SuffolkCycleRide/style/base/newforms.css' %}">

</head>
<body>
<div id="Site_Background">
    <div id="Site_Root">

        <div id='header'>

            <div id='header_bg'></div>
            <div class='menu centered'>
                {% block menu %}
                <ul class='chevronbar'>
                    <li><a href="/">Home</a></li>
                    <li><a href="/readmore">Read More</a></li>
                    <li><a href="/getinvolved">Get Involved</a></li>
                    <li><a>Sponsor Us</a></li>
                    <li><a>Blog</a></li>
                </ul>
                {% endblock %}
            </div>
        </div>

        <div id="content">
            {% block content %}
            This is content.
            {% endblock %}
            <div style="height:41px"></div>
        </div>

        <div id='footer'>
            <div id='footer_bg'></div>
            <div align='center' class="white centered vsmall" style="top:10px">
                Created by Tony Flury &copy; 2016 - The Great Suffolk Cycle Ride
            </div>
        </div>
    </div>

</div>

</body>
</html>