{% extends "SuffolkCycleRide/base/base.html" %}

{% load staticfiles %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <div >
        <div class="form" style="margin-left: 25%; margin-right:25%;">
            <h4>{% block form-name %}User Registration{% endblock %}</h4>
            <div class="description small">{% block description %}Enter your description here{% endblock %}</div>
            {% block form-content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}