{% extends "base/origin.html" %}

{% load staticfiles %}
{% load helper_tags %}

{% block page_styles %}



{% endblock %}

{% block menu-content %}
<!-- Allow conditional generation of menu -->

<div id="menu-container">
{% if no_menu %}
    <h3 align="center" style="margin-top:15px;"><a href="{{ HOST_URL }}" >The Great Suffolk Cycle Ride</a></h3>
{% else %}
    <div id="ShareBar">
        <div class="ShareMe">
        <a href="http://www.facebook.com/sharer/sharer.php?u={{ HOST_URL|urlencode:''}}&tite={{ 'The Great Suffolk Cycle Ride' | urlencode:'' }}">
        <img src="{% static 'SuffolkCycleRide/images/facebook.png' %}" ;"/>
        </a>
        </div>
        <div class="ShareMe">
        <a href="http://twitter.com/intent/tweet?status={{ 'Supporting The Great Suffolk Cycle Ride - raising money for Suffolk Cancer Charities - 580Km over 7 days' | urlencode:'' }}%0A{{ HOST_URL|urlencode:''}}">
        <img src="{% static 'SuffolkCycleRide/images/twitter.png' %}"/>
        </a>
        </div>
    </div>
    <ul class='chevronbar'>
        <li><a href="{% url 'Home' %}">Home</a></li>
        <li><a href="#">Read More</a>
            <ul class="sub">
                <li><a href="{% url 'TheEvent' %}">The Event</a></li>
<!--                <li><a href="{% url 'Newsletter:Home' %}">Newsletter</a></li> -->
                <li><a href="{% url 'Blog:Home' %}">Blog</a></li>
                <hr>
                <li><a href="{% url 'SunriseFundraising$' %}">Sunrise Fundraising</a></li>
<!--                <li><a href="#">Press Releases</a></li> -->
           </ul>
        </li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'Dashboard:Home' %}">My Dashboard</a></li>
        {% else %}
        <li><a href="{% url 'GetInvolved' %}">Get Involved</a></li>
        {% endif %}
        {% if user.is_authenticated %}
        <li><a href="{% url 'User:SignOut' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'User:SignIn' %}">Sign In</a></li>
        {% endif %}
        <li><a href="#">Sponsorship</a>
            <ul class="sub">
                <li><a href="{% url 'Sponsorship:Main' %}">Opportunities</a>/a></li>
                <li><a href="{% url 'Sponsorship:OurSponsors' %}">Our Sponsors</a></li>
            </ul>
        </li>

    </ul>
{% endif %}
</div>
{% endblock %}