{% extends "base/origin.html" %}

{% load staticfiles %}
{% load helper_tags %}

{% block menu-content %}
<!-- repeated for clarity -->
<ul class='chevronbar'>
    <li><a href="{% url 'Home' %}">Home</a></li>
    <li><a href="{% url 'Readmore' %}">Read More</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'Dashboard:Home' %}">My Dashboard</a></li>
    {% else %}
    <li><a href="{% url 'GetInvolved' %}">Get Involved</a></li>
    {% endif %}
    {% if user.is_authenticated %}
    <li><a href="{% url 'User:SignOut' %}">Sign Out</a></li>
    {% else %}
    <li><a href="{% url 'User:SignIn' %}">Sign In</a></li>
    {% endif %}
    <li><a href="{% url 'Sponsorship:Main' %}">Sponsor Us</a></li>
    <li><a href="{% url 'Blog:Main' %}">Blog</a></li>
</ul>
{% endblock %}