{% load staticfiles %}
{% load helper_tags %}

<html lang="{{ LANGUAGE_CODE }}" xmlns="http://www.w3.org/1999/html">

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon"
      type="image/gig"
      href="{% static 'SuffolkCycleRide/images/favicon.gif' %}">

    <title>{% block title %}Suffolk Suffolk Cycle Ride 2016{% endblock %}{% block subtitle %}{% endblock %}</title>

    <!-- Load site specific style sheets -->

    <link rel="stylesheet" href="{% static 'base/css/colours.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/small-screen.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/newforms.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/table.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/jquery.mCustomScrollbar.min.css' %}">

    <!-- Data for the Facebook like button https://developers.facebook.com/tools/debug/og/object/ -->
    <meta property="og:url"           content="{% block og-url %}{{ HOST_URL }}{% endblock %}" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="{% block og-title %}The Great Suffolk Cycle Ride{% endblock %}" />
	<meta property="og:description"   content="{% block og-description %}A multi-day charity cycle ride across Suffolk in Summer 2016. Get involved as a cyclist, organiser, or part of the support team.{% endblock %}" />
	<meta property="og:image"         content="{% absolute_static 'SuffolkCycleRide/images/suffolk-cycle-dated-background.gif' %}" />

    {% block head_meta %}
    {% endblock %}

    <!-- Allow pages to load their own page specific styles -->
    {% block page_styles_links %}
    {% endblock %}

    <style>
    {% block page_styles %}
    {% endblock %}
    </style>

    <script type="text/javascript" src="{% static 'base/js/jquery-latest.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'base/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/jquery.resize-layout.js' %}"></script>


    <!-- Allow page specific scripts -->
    <script type="text/javascript">
        {% block page_scripts %}
        {% endblock %}
    </script>

    <noscript>
        {% block no_page_scripts %}
        {% endblock %}
    </noscript>

</head>
<body>
{% block fb-disable %}
{% endblock %}

<div id="Site_Background">
    <div class="Site_Root"> <!-- Centered central vertical section -->

        <div id='header'> <!-- Horizontal menu bar -->
            <div id='header_bg'></div>  <!-- Darker bar extending across the viewport -->
                <div class='menu-wrapper'>
                    <div class="menu-body">
                    {% block menu-content %}
                    {% endblock %}
                    </div>
                </div>
        </div>

        <div id="content">

            {% block content %}
            {{ content }}
            {% endblock %}

        </div>

        <!-- The footer information - copyright info -->
        <div id='footer'>
           <div id='footer_bg'></div>
            {% block footer-content %}
            <div class="white centered small" style="top:10px">
                <table class="white small" style="width:80%">
                    <tr>
                <td align="center" class="white">
                    {% now "Y" as year %}
                &copy; {{ year }} - The Great Suffolk Cycle Ride</td>
                <td align="center" class="white">{% now " D d M Y h:i A" %}</td>
                        </tr>
                    <tr>
                        <td align="center" class="white"><a href="{% url 'Privacy' %}" target="_new">Privacy Policy</a></td>
                        <td align="center" class="white"><a href="{% url 'ContactUs' %}">Contact Us</a></td>
                    </tr>
                </table>
            </div>
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>