div#Dashboard {
display:inline-block;
overflow:auto;
width: 100%
}


/*
                    Funding Barchart styles
 */
div.barchart-outer {
/* background-image: url( '/static/SuffolkCycleRide/images/target-background.png' );
background-repeat:repeat-x;
background-size: 100% 100%; */
width:auto;
height:auto;
padding: 5px 5px;
margin:10px 0px 20px 0px;
position:relative;
display:flex;
/* border-radius: 10px;
box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.6);
border: thin solid grey ; */
}

div.barchart-inner-inset {
border-radius: 5px;
border: thin solid grey;
height:50px;
position:absolute;
top:5px;
left:5px;
margin-left:5px;
margin-right:5px;
box-shadow: -3px 3px 4px 1px rgba(0, 0, 0, 0.8) inset;
box-sizing: border-box;
width: 310px;
}

div.barchart-colourbar {
background-image: url( '/static/dashboard/images/dashboard-progress.png' );
position:absolute;
top:0;
left:0;
width:100%
}

div.barchart-inner {
border-radius: 5px;
height:40px;
position:absolute;
top:10px;
left:8px;
margin-left:5px;
margin-right:5px;
box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.6);
box-sizing: border-box;
width:auto;
overflow:hidden;
}


div.barchart-text {
/* font-weight: bold; */
color: white ;
margin: auto;
display:block;
position:relative;
top:10px;
margin-left:10px;
margin-right:5px;
padding-left: 10px;
}

.form-description {
    margin-bottom: 10px;
    }

@media only screen and (min-width: 900px) {

    div#Dashboard {
        border-top: thin dashed black;
    }

    div#DashboardMenuSection {
     float:left;
    /* border: dashed red ; */
     padding-right: 2em;
    }

    div#DashboardDetails {
       margin-left:0.25em;
       padding: 0.25em;
       float:left;
       width:70%;
       margin-right:0.1em;
       border-left:thin dashed black;
       padding-left:2em;
    }

    div#DashboardMenuSection > ul#DashboardMenu {
        list-style-type: none;
    }

    div#DashboardMenuSection > ul#DashboardMenu > li {
        margin-bottom: 0.2em;
    }


    div#DashboardMenuSection > ul#DashboardMenu > li > a {
        font-weight: normal ;
    }

    div#DashboardMenuSection > ul#DashboardMenu > li > a.selected {
        font-weight: bold;
    }
}

@media only screen and (max-width: 900px) {

    div#DashboardDetails {
       margin-left:0.1em;
       width:100%;
       margin-right:0.2em;
    }


    div#DashboardMenuSection {
        display:block;
    }

    div#DashboardMenuSection > ul#DashboardMenu {
        list-style-type: none;
    }

    div#DashboardMenuSection > ul#DashboardMenu > li {
        display:inline-block;
        border-top : thin white solid;
        border-left : thin white solid;
        border-right : thin white solid;
        border-radius : 8px 8px 0px 0px;
        padding-left:0px;
        padding-right:0px;
        margin: 0px 0px 0.1px 0px;
    }


    div#DashboardMenuSection > ul#DashboardMenu > li > a {
        padding-left: 0.4em;
        padding-right: 0.4em;
        font-weight: normal ;
        border-radius : 8px 8px 0px 0px;
        margin: 0px 0px 0.1px 0px;

    }

    div#DashboardMenuSection > ul#DashboardMenu > li > a.selected {
        background: white;
        color: #00B7B1 ;
        font-weight: bold;
        border-radius : 8px 8px 0px 0px;
        margin: 0px 0px 0.1px 0px;

   }
}