.white {
    color: white ;
}

.brown {
    color: #0c0000;
}

.red {
    color: #F45830;
}

.blue {
    color:#00B7B1;
    }

.black {
    color:#000000;
    }

.lightblue {
    color:#9AE7E4;
}

.bluebackground
{
    background-color:#00B7B1;
    border-color: #00B7B1;
    }

.redbackground
{
    background-color:#F45830;
    border-color: #F45830;
    }

.whitebackground {
background-color: white;
}